.product_detail_container{
    display: flex;
    margin: 3rem;
}
.product_detail{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.slider_container{
  width: 50vw !important;
  background-color: #f5f5f5;

}
.product_image{
    /* height: 60vh !important; */
}
.product_title{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
}
.product_rating{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.product_price_symbol{
  font-size: 1rem;
  line-height: 1.5rem;
}
.product_price{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
}
.product_saving{
    color: #CC0C39;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-right: 0.5rem;
}
.product_description{
    font-size: 0.8rem;
    line-height: 1.3rem;
    font-weight: 400;
}
.container {
    padding: 40px;
    background: #419be0;
  }
/*   
  .slick-slide img {
    margin: auto;
  } */
  .slick-next{
    right: 0px !important;
  }
  .slick-prev{
    left: 0px !important;
    z-index: 1;
  }
  